{% extends "main_template.html" %}
{% block title %} - Panel główny{% endblock %}

{% block content %}

  <section class="info-boxes py-5">

    <div class="container text-center">

      <h2>Panel główny</h2>
      <h3>Informacje o bazie danych</h3>

      <div class="row py-5">

        <div class="col m-4 information-box p-4">

          <h4 class="mb-3">Liczba książek w bazie</h4>
          <i class="fa-solid fa-book mb-4"></i>
          <p>Ilość: <span>{{books_in_database}}</span></p>

          <a href="/dashboard/new_book" class="btn btn-outline-secondary px-3 py-2">Dodaj książkę <i class="ms-1 fa-solid fa-plus"></i></a>
        </div>

        <div class="col m-4 information-box p-4">

          <h4 class="mb-3">Liczba czytelników w bazie</h4>
            <i class="fa-solid fa-people-group mb-4"></i>
          <p>Ilość: <span>{{readers_in_database}}</span></p>

          <a href="/dashboard/new_reader" class="btn btn-outline-secondary px-3 py-2">Dodaj czytelnika <i class="ms-1 fa-solid fa-plus"></i></a>
        </div>

        <div class="col m-4 information-box p-4">

          <h4 class="mb-3">Liczba wypożyczeń</h4>
            <i class="fa-solid fa-hand-holding mb-4"></i>
          <p>Ilość: <span>{{borrowing_books_in_database}}</span></p>

          <a href="/dashboard/new_book_borrowing" class="btn btn-outline-secondary px-3 py-2">Utwórz raport wypożyczenia <i class="ms-1 fa-solid fa-plus"></i></a>
        </div>

      </div>
  </section>

  {% endblock %}