{% extends "main_template.html" %}
{% block title %} - Edycja książki{% endblock %}

{% block content %}

  {% if edit_book_confirmation %}
  <div class="alert alert-success text-center" role="alert">
    <div class="row justify-content-end">
      <div class="col-4 d-flex justify-content-center">
        <p class="m-0">{{edit_book_confirmation}}</p>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <button type="button" class="btn-close ms-auto" aria-label="Close"></button>
      </div>
    </div>
  </div>
  {% endif %}
  
  <section class="form-items py-5">
    <div class="container d-flex flex-column align-items-center text-center">
      <h2 class="mb-4">Edycja książki - {{book['title']}}</h2>
        <form method="post">

            <div class="form-group mb-4">
              <label for="formGroupExampleInput">Tytuł</label>
              <input type="text" class="form-control" id="formGroupExampleInput" name="title" value="{{book['title']}}" required/>
            </div>

            <div class="form-group mb-4">
              <label for="formGroupExampleInput2">Rok wydania</label>
              <input type="number" class="form-control" id="formGroupExampleInput2" min="1" max="2022" name="publish_year" value="{{book['publish_year']}}" required/>
            </div>

            <div class="form-group mb-4">
              <label for="formGroupExampleInput2">Imie autora</label>
              <input type="text" class="form-control" id="formGroupExampleInput3" name="author_first_name" value="{{book['author_first_name']}}" required/>
            </div>

            <div class="form-group mb-4">
              <label for="formGroupExampleInput2">Nazwisko autora</label>
              <input type="text" class="form-control" id="formGroupExampleInput4" name="author_second_name" value="{{book['author_second_name']}}" required/>
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Wydawnictwo</label>
              <input type="text" class="form-control" id="formGroupExampleInput4" name="publishing_house" value="{{book['publishing_house']}}" required/>
            </div>
            <button type="submit" class="btn btn-success my-5 py-2 px-4">Aktualizuj dane książki</button>
            <a href="/dashboard/book_list" class="btn btn-danger my-5 py-2 px-4">Powrót</a>
          </form>
          </div>
      </div>

    </div>
  </section>

  {% endblock %}