<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"         crossorigin="anonymous">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet" />
    <title>Strona głowna</title>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Zarządzanie biblioteką</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Panel główny</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Informacje o bibliotece
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/dashboard/book_list">Baza książek</a></li>
              <li><a class="dropdown-item" href="#">Baza czytelników</a></li>
              <li><a class="dropdown-item" href="#">Baza wypożyczeń </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  {% if edit_book_confirmation %}
  <div class="alert alert-success text-center" role="alert">
    <p class="m-0">{{edit_book_confirmation}}</p>
  </div>
  {% endif %}
  
  <section class="new-book py-5">
    <div class="container d-flex flex-column align-items-center text-center">
      <h2 class="mb-4">Edycja książki - {{book['title']}}</h2>
        <form method="post">

            <div class="form-group mb-4">
              <label for="formGroupExampleInput">Tytuł</label>
              <input type="text" class="form-control" id="formGroupExampleInput" name="title" value="{{book['title']}}" required/>
            </div>

            <div class="form-group mb-4">
              <label for="formGroupExampleInput2">Rok wydania</label>
              <input type="number" class="form-control" id="formGroupExampleInput2" min="1" max="2022" name="publish_year" value="{{book['publish_year']}}" required/>
            </div>

            <div class="form-group mb-4">
              <label for="formGroupExampleInput2">Imie autora</label>
              <input type="text" class="form-control" id="formGroupExampleInput3" name="author_first_name" value="{{book['author_first_name']}}" required/>
            </div>

            <div class="form-group mb-4">
              <label for="formGroupExampleInput2">Nazwisko autora</label>
              <input type="text" class="form-control" id="formGroupExampleInput4" name="author_second_name" value="{{book['author_second_name']}}" required/>
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Wydawnictwo</label>
              <input type="text" class="form-control" id="formGroupExampleInput4" name="publishing_house" value="{{book['publishing_house']}}" required/>
            </div>
            <button type="submit" class="btn btn-success my-5 py-2 px-4">Aktualizuj dane książki</button>
            <a href="/dashboard/book_list" class="btn btn-danger my-5 py-2 px-4">Powrót</a>
          </form>
          </div>
      </div>

    </div>
  </section>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>