{% extends "main_template.html" %}
{% block title %} - Lista czytelników{% endblock %}

{% block content %}

  
    <h2 class="text-center my-5">Lista czytelników</h2>

    <section class="reader-search search">
      <div class="container">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Wyszukiwanie zaawansowane
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body px-4 px-md-3">
                <form method="post">
                <div class="row justify-content-center align-items-center">
                  <div class="col-12 col-md-6 col-lg-4 form-item mb-3">
                    <div class="input-group">
                      <span class="input-group-text">Tytuł książki</span>
                      <input type="text" aria-label="Tytuł książki" class="form-control" name="title">
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 form-item mb-3">
                    <div class="input-group">
                      <span class="input-group-text">Imie autora</span>
                      <input type="text" aria-label="Imie autora" class="form-control" name="author_first_name">
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 form-item mb-3">
                    <div class="input-group">
                      <span class="input-group-text">Nazwisko autora</span>
                      <input type="text" aria-label="Nazwisko autora" class="form-control" name="author_second_name">
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 form-item mb-3 m-lg-0">
                    <div class="input-group">
                      <span class="input-group-text">Rok wydania</span>
                      <input type="text" aria-label="Rok wydania" class="form-control" name="publish_year">
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 form-item mb-3 m-md-0">
                    <div class="input-group">
                      <span class="input-group-text">Wydawnictwo</span>
                      <input type="text" aria-label="Wydawnictwo" class="form-control" name="publishing_house">
                    </div>
                  </div>
                  <div class="col-2 d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-secondary px-4">Wyszukaj</button>
                  </div>
                </div>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="book_list reader_list py-5">
    <div class="container d-flex flex-column align-items-center text-center">
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Imie i nazwisko czytelnika</th>
            <th scope="col">Numer karty</th>
            <th scope="col">Data urodzenia</th>
          </tr>
        </thead>
        <tbody>
          
          {% for reader in reader_list %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{reader['reader_first_name']}} {{reader['reader_second_name']}}</td>
            <td>{{reader['card_number']}}</td>
            <td>{{reader['born_date']}}</td>
            <td>
              <a data-bs-toggle="tooltip" title="Modyfikuj"  href="/dashboard/edit_book/{{reader['_id']}}"><i class="fa-solid fa-pen-to-square m-1"></i></a>
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{reader['_id']}}"><i class="fa-solid fa-trash-can m-1"></i></button>
            </td>
          </tr>
          <div class="modal fade" id="exampleModal{{reader['_id']}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Potwierdzenie usunięcia</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <p>Czy chcesz usunąć wybranego czytelnika?</p>  
                  <p>Imie i nazwisko autora: <span>{{reader['reader_first_name']}} {{reader['reader_second_name']}}</span></p>
                  <p>Data urodzenia: <span>{{reader['born_date']}}</span></p>
                  <p>Numer karty: <span>{{reader['card_number']}}</span></p>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                  <a href="/dashboard/delete/reader/{{reader['_id']}}" class="btn btn-danger">Usuń</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  

  {% endblock %}